<!DOCTYPE html>
<html>
<head>
	<nav>
		<ul>
			<li>
				<button>
					Study at CIC
				</button>
				<div>
					<h1>
						Programmes
					</h1>
					<ul>

						<li>
							<h2>B.Tech. (Information Technology & Mathematical Innovations)</h2>
							<ul>
								<li>
									Concept
								</li>
								<li>
									Course Structure
								</li>
								<li>
									Promotion Criteria
								</li>
								<li>
									Evaluation Scheme
								</li>
							</ul>
						</li>
						
						<li>
							<h2>B.A. Honours (Humanities & Social Sciences)</h2>
							<ul>
								<li>
									Concept
								</li>
								<li>
									Course Structure
								</li>
								<li>
									Streams
								</li>
								<li>
									Project Work
								</li>
								<li>
									Academics and Culture
								</li>
							</ul>
						</li>
						<li>
							<h2>M.Sc. (Mathematics Education) @ Meta University</h2>
							<ul>
								<li>
									Concept
								</li>
								<li>
									Course Structure
								</li>
								<li>
									Innovation Projects
								</li>
								<li>
									Enrichement Beyond Classroom
								</li>
								<li>
									E-Links
								</li>
							</ul>
						</li>
					</ul>
					<h1>
						Apply for Admission
					</h1>
				</div>
			</li> 
			<li>
				<button>
					Innovation
				</button>
				<div>
					<ul>
						<li>
							<h2>Innovation Hubs</h2>
							<ul>
								<li>
									Engineering Kichen
								</li>
								<li>
									Robotics and Embedded Systems Lab
								</li>
								<li>
									Digital Fabrication and Rapid Prototyping Lab
								</li>
								<li>
									IT Innovations Lab
								</li>
								<li>
									Computer Cluster
								</li>
								<li>
									Library
								</li>
							</ul>
							<li>
								<h2>Projects</h2>
								<ul>
									<li>
										Innovation Projects
									</li>
									<li>
										Curriculum Projects
									</li>
									<li>
										Internships
									</li>
								</ul>
							</li>
							<li>
								<H2>Logo</H2>
								<ul>
									<li>
										logo1
									</li>
									<li>
										logo2
									</li>
									<li>
										logo3
									</li>
									<li>
										logo4
									</li>
								</ul>

						</li>
					</ul>
				</div>
			</li>
			<li>
				<button>
					Meta College
				</button>
			</li>
			<li>
				<button>
					Meta University
				</button>
			</li>
		</ul>
	</nav>
</head>

</html>