// aphrodite
nav
  ul.sticky.container
    li: a(href='#') Study at CIC
    li: a(href='#') About CIC
    li: a(href='#') Innovation
    li: a(href='#') Meta College
    li: a(href='#') Meta University

  div.navs
    div.nav#study
      h1 Programmes
      ul
        h2 B.Tech. (Information Technology & Mathematical Innovations)
        li: a(href='#') Concept
        li: a(href='#') Course Structure
        li: a(href='#') Promotion Criteria
        li: a(href='#') Evaluation Scheme

div
  a(href='/', title='Home'): img(src='/img/logo.png')
