// aphrodite

doctype html
html(lang='en')
  head
    title Cluster Innovation Centre
    meta(charset='utf-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    meta(
      name='description'
      content='aphrodite'
    )
    link(rel='stylesheet', type='text/css', href='css/libraries.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    include ./partials/nav.jade

    h1 aphrodite
    p CIC Website Templates

    script(type='text/javascript', src='js/libraries.js')
    script(type='text/javascript', src='js/app.js')
    script.
      var app = require('app');
      app.init();
